.DS_STORE
stores/coles/node_modules/**/*
stores/coles-rev/node_modules/**/*
stores/coles/~/**/*
stores/coles/webpages/**/*
new/node_modules/**/*
new/half-price-deals-dev-firebase-adminsdk-fz38j-a5ceba6c4e.json
